/* Sizes */
.fs_12{ font-size: 12px; }
.fs_14{ font-size: 14px; }
.fs_16{ font-size: 16px; }
.fs_18{ font-size: 18px; }
.fs_20{ font-size: 20px; }
.fs_24{ font-size: 24px; }
.fs_48{ font-size: 48px; }

/* Weight */
.fw_thin{ font-weight: 100; }
.fw_normal{ font-weight: 400; }
.fw_bold{ font-weight: 900; }