
#banner{
  width: 100%;
  display: grid;
  grid-template-columns: 65% 1fr;
  grid-template-areas: "info photo"
                       "skills photo";
}
  .info{
    grid-area: info;
    background: white;
  }
    .wrapper_info{
      margin-left: 7%;
      margin-top: 75px;
    }
    .tag_primary{
      background: #5562FF;
      height: 54px;
      border-radius: 15px 0;
      color: #FFF;
      padding: 10px 20px;
    }
  .skills{
    grid-area: skills;
    background: #262626;
  }
    .skills table td{
      color: white;
    }

    .skills_grid{
      margin-left: 7%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      color: white;
      column-gap: 20px;
      row-gap: 10px;
    }

    .bar{
      background: #FFD100;
      height: 8px;
    }
  .photo{
    position: relative;
    grid-area: photo;
    background: #DED1C1;
    height: 700px;
  }
    .wrapper_image{
      background: url(../images/photo.png) center bottom no-repeat;
      width: 100%;
      height: 100%;
    }
      .logo_python{
        position: absolute;
        top: 20px;
        left: 25%;
      }

      .logo_react{
        position: absolute;
        top: 140px;
        right: 50px;
      }

/* Media queries */
@media screen and (max-width: 480px) {
  #banner{
    grid-template-columns: 1fr;
    grid-template-areas: "info"
                          "skills"
                          "photo";
  }
}